
weather-backend/serviceAccountKey.json

# Ignore environment and secret files
weather-backend/.env
weather-backend/serviceAccountKey.json
weather-frontend/weather-app/src/firebaseConfig.jsx

# Ignore prometheus and alertmanager directories except specific files
prometheus/*
!prometheus/*.yml
alertmanager/*
!alertmanager/*.yml

# Ignore node_modules and dependencies
node_modules/
dist/
build/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE and OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/

