/* LANDING PAGE STYLE */

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingpage{
  margin: 0px;
  background-image: url('./assets/world.png');
  background-size: cover;
  height: 100vh;
}

.landingpage h1{
  color: white;
  font-size: 100px;
  padding-top: 300px;
  padding-left: 100px;
}

.landingpage p{
  color: white;
  font-size: 25px;
  padding-top: 50px;
  padding-left: 200px;
}

/* SIGN UP PAGE STYLE */

.signup-body {
  background-image: url('./assets/world.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.signup-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent; 
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  backdrop-filter: blur(15px);
}

.signup-box h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  padding: 0 35px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
}

.signup-box button {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
}

.signup-box p {
  font-size: 0.9em;
  color: #fff;
  margin-top: 25px;
}

.signup-box a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.signup-box a:hover {
  text-decoration: underline;
}

/* Login PAGE STYLE */

.login-body {
  background-image: url('./assets/world.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent; 
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  backdrop-filter: blur(15px);
}

.login-box h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  padding: 0 35px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
}

.login-box button {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
}

.login-box p {
  font-size: 0.9em;
  color: #fff;
  margin-top: 25px;
}

.login-box a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-box a:hover {
  text-decoration: underline;
}

/* HOME PAGE STYLE */

